[submodule "min-api"]
	path = min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "pipo.ipt/pipo-sdk"]
	path = pipo.ipt/pipo-sdk
	url = https://github.com/ircam-ismm/pipo-sdk.git
	branch = develop
[submodule "libipt"]
	path = libipt
	url = https://github.com/nbrochec/libipt.git
	branch = dev
